{
    debug
}

:80 {

    @whitelisted {
        path / /static* /turbo.ico
    }

    reverse_proxy @whitelisted client:3000
}

:4000 {

    @whitelisted {
        path /api*
    }

    reverse_proxy @whitelisted api:5000
}