div.accounts-detail {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed grey;
}

@media only screen and (max-width: 530px) {
    div.accounts-detail {
        flex-direction: column;
    }
}