div.request {
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    background: var(--bg-dark);
    border-radius: 10px;
}

div.request div.req-div {
    display: none;
}

div.request div.req-div div.controls {
    display: flex;
    justify-content: space-between;
}

div.request h3 {
    margin: 0;
}

div.request td:nth-child(1) {
    min-width: 200px;
}

div.request td.req-desc {
    width: 70vw;
    padding: 0 10px;
    border-left: 2px solid grey;
}

div.request td.button {
    width: 50px;
}

div.request button.edit {
    color: var(--orange)
}

div.request button.approve {
    color: var(--green)
}

div.request button.deny {
    color: var(--red)
}

@media only screen and (max-width: 530px) {
    div.request {
        width: 100%;
        margin: 10px 0;
    }
    div.request table{
        display: none;
    }
    div.request div.req-div {
        display: block;
    }
}