div.contact {
    background: rgba(0,0,0,0.8);
    padding: 5px;
    width: 100%;
}

div.contact h4 {
    font-family: 'Black Ops One';
    font-weight: 400;
}

div.contact ul {
    list-style: none;
}

div.contact li {
    color: #aaa;
}

div.contact span {
    color: #DFF7FA;
    font-weight: 500;
}

div.contact a {
    text-decoration: none;
}