div.customer-details div.info-columns {
    display: flex;
}

div.customer-details {
    padding: 10px;
    background: var(--bg-dark);
    background: rgba(0,0,0,0.8);
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0.5);
    margin-bottom: 5px;
}

div.customer-details ul {
    margin: 0;
    list-style: none;
}

div.customer-details-header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

div.customer-details-header h3 {
    display: inline;
}

div.expandable {
    cursor: pointer;
}

div.customer-details span.expand-more,
div.customer-details span.expand-less {
    position: relative;
    top:5px;
}

div.customer-details button.edit {
    margin: 10px;
    color: var(--orange);
}