div.schedule-day {
    width: 500px;
    background: var(--bg-dark);
    padding: 40px;
    border-radius: 20px;
}


div.schedule-day span {
    float: right;
    margin-left: 10px;
}

div.schedule-day.today {
    border: 2px solid #5f5;
}

div.schedule-day button.small {
    display: none;
}

@media only screen and (max-width: 1420px) {
    div.schedule-day {
        width: 90%;
    }
}

@media only screen and (max-width: 530px) {
    div.schedule-day {
        width: 100%;
        padding: 20px;
    }

    div.schedule-day span.material-symbols-outlined {
        display: none;
    }

    div.schedule-day button.large {
        display: none;
    }

    div.schedule-day button.small {
        display: unset;
    }
}