div.schedule-weekly {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 1420px) {
    
    div.schedule-weekly {
        flex-direction: column;
        align-items: center;
        margin: 0
    }
}