.carousel-container {
  background: rgba(0,0,0,0.8);
  margin-top: 50px;
}

.carousel-nav button{
    border: unset;
    background: unset;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }

.carousel-nav li{
    display: inline;
}

.control-dots {
  position: relative;
}