.contact {
    background: rgba(0,0,0,0.8);
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.contact ul {
    list-style: none;
}

.contact li {
    color: #aaa;
}

.contact span {
    color: #DFF7FA;
    font-weight: 500;
}