.contact {
    background: rgba(0,0,0,0.8);
    margin-top: 50px;
    padding: 5px;
}

.contact ul {
    list-style: none;
}

.contact li {
    color: #aaa;
}

.contact span {
    color: #DFF7FA;
    font-weight: 500;
}