.app-req form {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.app-req div{
    display: flex;
    flex-direction: column;
}

.app-req label{
    margin-top: 5px;
}

.app-req button{
    margin-top: 5px;
}

.app-req .close {
    position: fixed;
    left: auto;
    right: 20px;
}