/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

input, textarea, button {
  font-family: inherit
}


header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.pages {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.users {
  width: 60%;
}

.userHome {
  display: flex;
  justify-content: space-around;
}

.user-header {
  display: flex;
  margin: 0;
  align-items: center;
}

.user-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.user-filter {
  margin:20px;
}

.add-user-title {
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.refresh {
  cursor: pointer;
}

.waiting {
  color: var(--error)
}