/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --bg-primary: #f1f1f1;
}

body {
  background: var(--bg-primary);
  margin: 0;
  font-family: "Poppins";
}

input, textarea, button {
  font-family: inherit
}


header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.pages {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.users {
  width: 60%;
}

.userHome {
  display: flex;
  justify-content: space-around;
}

.user-header {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 15px;
}

.user-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.add-user-title {
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

nav button, nav a {
  margin-left: 20px;
}

span.waiting {
  border: 2px solid var(--error);
  border-radius: 10px;
  color: var(--error);
  background: #ffefef
}

.refresh, .close {
  cursor: pointer;
  position: relative;
  left: -45px;
}

.refresh {
  border: 2px solid var(--bg-primary);
}