/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('./pages/styles/standardStyles.css');

* {
  box-sizing: border-box;
}

:root {
  --primary: #DFF7FA;
  --error: #e7195a;
  --bg-primary: #0039a6;
  --bg-dark: #222;
  --container-border: #a1a1a1;
  --button-border: #f1f1f1;
  --orange: #f84;
  --blue: #55f;
  --green: greenyellow;
  --red: var(--error);
}

body {
  background: var(--bg-primary);
  background: linear-gradient(to right, #0039a6, #eee);
  margin: 0;
  font-family: "Poppins";
  color: #ddd;
  min-height: 100vh;
}

a{
  color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
}

input, textarea, button, select {
  font-family: inherit;
  padding: 5px;
}

input, textarea, select {
  border: 0;
  border-radius: 5px;
}

input.error, select.error, textarea.error {
  border: 2px solid var(--error)
}

span.required {
  color: var(--error)
}

button {
  background: var(--bg-dark);
  color:#fff;
  border: 2px solid var(--button-border);
  border-radius: 8px;
  font-weight: 600;
  min-width: 80px;
}

div.error {
  border: 2px solid var(--error);
  border-radius: 10px;
  padding: 10px;
  color: var(--error);
  background: #ffefef
}

span.delete {
  color: var(--error);
  cursor: pointer;
}

span.delete:hover {
  text-decoration: underline;
}

span.edit {
  color: var(--orange);
  cursor: pointer;
}

span.edit:hover {
  text-decoration: underline;
}

button.submit {
  color: var(--green)
}

button.cancel {
  color: var(--red)
}

button.edit {
  color: var(--orange)
}

div.modal {
  position: fixed;
  background: var(--bg-dark);
  padding: 30px;
  border-radius: 20px;
}

div.modal h2, .modal h3 {
  text-align: center;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
/* 
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: baseline;
  gap: 50px;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.pages {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.users {
  width: 60%;
}

.userHome {
  display: flex;
  justify-content: space-around;
}

.user-header {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 15px;
}

.user-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.add-user-title {
  text-decoration: underline;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

nav button, nav a {
  margin-left: 20px;
}

span.waiting {
  border: 2px solid var(--error);
  border-radius: 10px;
  color: var(--error);
  background: #ffefef
}

.refresh, .close {
  cursor: pointer;
  position: relative;
  left: -45px;
}

.refresh {
  border: 2px solid var(--bg-primary);
}
 */
