div.accounts div.accounts-header,
div.accounts div.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

div.accounts.accounts-header span.refresh,
div.accounts.accounts-header span.close {
    cursor: pointer;
    position: relative;
    left: -45px;
}

div.accounts.accounts-header span.refresh {
    border: 2px solid rgba(0, 0, 0, 0);
}


div.accounts div.accounts-container {
    margin: 20px auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

div.accounts div.accounts-container>div {
    background-color: var(--bg-dark);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px 40px;
    height: max-content;
    flex-shrink: 0;
}

div.accounts div.recipient-container {
    display: flex;
    justify-content: space-between;
}

div.accounts input.small-bar {
    display: none;
}

@media only screen and (max-width:1720px) {

    div.accounts div.accounts-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width:1420px) {

    div.accounts div.accounts-container {
        flex-direction: column-reverse;
        max-width: 800px;
    }
}

@media only screen and (max-width:1000px) {

    div.accounts input.large-bar {
        display: none;
    }

    div.accounts input.small-bar {
        display: block;
    }
}

@media only screen and (max-width:530px) {

    div.accounts {
        max-width: 100%;
    }

    div.accounts div.filter-bar {
        width: 90%;
        max-width: 350px;
        gap: 5px;
    }
}