div.calendar-container h2 {
    font-family: 'Black Ops One';
    font-weight: 400;
}

div.calendar-container div.calendar-area {
    min-height: 720px;
    display: flex;
    align-items: center;
}

div.calendar-container div.appointment-request {
    margin-top: 40px;
    text-align: center;
}

div.calendar-container div.appointment-request h3 {
    margin: 5px;
    font-weight: 500;
}

div.calendar-container div.appointment-request h3.request-button-header {
    color: var(--green)
}

div.calendar-container div.appointment-request button {
    padding: 10px;
}

div.legend {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

div.legend .red {
    background: var(--red);   
}

div.legend .orange {
    background: var(--orange);
}

div.legend .blue {
    background: var(--blue);
}

div.legend button {
    border-radius: 0;
    padding: 10px;
    cursor: default;
}

@media only screen and (max-width:530px ) {
    div.legend {
        flex-direction: column;
    }
}