.calendar-container {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --red: #f22;
    --orange: #f84;
    --blue: #55f;
}

.calendar-container h2 {
    font-family: 'Black Ops One';
    font-weight: 400;
}

.calendar-container button{
    cursor: pointer;
}

.appointment-request {
    margin-top: 40px;
    text-align: center;
}

.appointment-request h3 {
    margin: 5px;
    font-weight: 500;
}

.appointment-request button {
    padding: 10px;
}

.legend {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.legend .red {
    background: var(--red);   
}

.legend .orange {
    background: var(--orange);
}

.legend .blue {
    background: var(--blue);
}

.legend button {
    width: 250px;
    border-radius: 0;
    padding: 10px;
    cursor: default;
}

.modal {
    position: fixed;
    background: var(--bg-dark);
    padding: 30px;
    border-radius: 20px;
}

.modal h2, .modal h3 {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}