.customer-management-header {
  margin: 50px auto;
  width: 80vw;
}

.customer-management-header h2 {
  font-weight: 500;
}

.customers {
  width: 60%;
  max-width: 900px;
}

.customerHome {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 5vh auto;
}

.customerHome h2 {
  font-weight: 600;
}

.customer-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

span.waiting {
  border: 2px solid var(--error);
  border-radius: 10px;
  color: var(--error);
  background: #ffefef
}

.customer-header .refresh,
.customer-header .close {
  cursor: pointer;
  position: relative;
  left: -45px;
}

.customer-header .refresh {
  border: 2px solid rgba(0, 0, 0, 0);
}