div.schedule {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    margin: 0 50px;
    gap: 50px;
}

div.schedule h2 {
  font-weight: 500;

}

button.view-button {
    margin: 20px;
}

div.scheduleDisplay div.button-bar {
    margin: 0 auto;
    text-align: center;
}

div.requests {
    overflow-y: auto;
    margin: 0 auto;
    max-height: 45vh;
    background-color: var(--bg-dark);
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
}