div.schedule {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 50px;
}

div.schedule h2 {
    font-weight: 500;
}

div.schedule div.scheduleDisplay div.button-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 2vw;
}

div.schedule div.requests {
    overflow-y: auto;
    margin: 0 auto;
}

div.schedule button.view-button {
    min-width: 50px;
}

@media only screen and (max-width: 1420px) {
    div.schedule {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 530px) {
    div.schedule {
        margin: 0;
    }
}