form.admin-acct-update-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 100%;
}

form.admin-acct-update-form label {
    margin-top: 20px;
    font-weight: 600;
    color: var(--primary)
}

form.admin-acct-update-form input,
form.admin-acct-update-form button,
form.admin-acct-update-form select {
    margin-right: auto
}

form.admin-acct-update-form div.controls {
    display: flex;
    gap: 50px;
    margin: 40px auto 0 auto;
}

@media only screen and (max-width: 950px) {
    form.admin-acct-update-form {
        width: 100%;
    }
}