div.add-app form.add-appointment,
div.add-app div.cust-select {
    display: flex;
    gap: 50px;
}

div.add-app form.add-appointment div.entry-column {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:950px) {
    div.add-app form.add-appointment,
    div.add-app div.cust-select {
        flex-direction: column;
        gap: 20px;
    }
}