form.cust-update-form{
    margin: 0 20px;
    max-width: 100%;
}

form.cust-update-form div.cust-cols {
    display: flex;
    gap: 50px;
    padding: 20px;
}

form.cust-update-form div.cust-cols label {
    font-weight: 600;
    color: var(--primary)
}

form.cust-update-form div.cust-info {
    display: flex;
    flex-direction: column;
}

form.cust-update-form div.controls {
    display: flex;
    gap: 50px;
}

form.cust-update-form div.new-phone button {
    margin: 5px;
}

form.cust-update-form div.new-vehicle button {
    margin: 5px;
}

form.cust-update-form div.new-vehicle {
    max-width: 50%;
}

form.cust-update-form span.check {
    color: greenyellow;
}

form.cust-update-form span.check:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width:950px) {
    form.cust-update-form div.cust-cols {
        flex-direction: column;
        gap:20px;
    }

    form.cust-update-form div.new-vehicle {
        max-width: 100%;
        width:100%;
    }
}