form.customer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 300px;
    max-height: 400px;
}

form.customer label {
    font-weight: 600;
    margin-left: 20px;
}

form.customer button {
    color: var(--green)
}