div.cust-app-req form.cust-request {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    max-width: 100%;
}

div.cust-app-req form.cust-request div{
    display: flex;
    flex-direction: column;
}

div.cust-app-req form.cust-request label,
div.cust-app-req form.cust-request button{
    margin-top: 5px;
}

div.cust-app-req span.close {
    position: fixed;
    left: auto;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

div.cust-app-req div.or {
    padding: 5px;
    text-align: center;
}

div.cust-app-req button.edit{
    color: var(--orange);
}

div.cust-app-req div.controls button{
    margin: 10px;
}

@media only screen and (max-width: 950px) {
    div.cust-app-req form.cust-request {
        flex-direction: column;
    }

    div.cust-app-req span.close {
        display: none;
    }
}