form.guest-request {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

form.guest-request div{
    display: flex;
    flex-direction: column;
}

form.guest-request label,
form.guest-request button{
    margin-top: 5px;
}

div.guest-app-req span.close {
    position: fixed;
    left: auto;
    right: 20px;
    top: 20px;
}

div.guest-app-req div.controls button{
    margin: 10px;
}

@media only screen and (max-width: 950px) {
    form.guest-request {
        flex-direction: column;
    }
}