form.self-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form.self-signup h3 {
    margin: 0;
    font-size: 3rem;
}

form.self-signup label {
    margin-top: 20px;
}

form.self-signup input, form.self-signup select {
    width: 20vw;
    margin: 0 auto;
}

form.self-signup button {
    margin: 20px auto 0 auto;
}

form.self-signup div.error {
    margin-top: 20px;
}